#branding-banner {
    width: 100%;
    height: 50px;
}
#site-content {
	overflow: hidden;
	padding-bottom: 20px;
	min-height: 700px;
}
#page-footer {
    min-height: 200px;
}
#bread-crumbs {
    text-align:center;
    padding: 10px 0;
}

.textinput,
.textInput {
	padding: 3px 0;
}

/* boxes
----------------------------------------------- */ 
.timserie-operator {
	margin-bottom: 10px;
}
.timserie-operator h3 {
	font-size: 120%;
} 