body {
	font-size: 12px;
	font-family:'Lucida Grande',Arial,sans-serif;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:1.4;
}
#page-header h1 {
	padding-top: 5px;
    font-size: 30px;
    font-weight: normal;
}
#bread-crumbs {
    font-size: 150%;
}
ul.main li,
ul.main li a {
    font-size: 100%;
    text-transform:uppercase;
    font-weight: normal;
}