include CHANGELOG.rst
include LICENSE
include MANIFEST.in
include README.rst
include requirements.txt
recursive-include src/jflow/db/instdata/media *
recursive-include src/jflow/db/instdata/templates *
recursive-include src/jflow/db/instdata/fixtures *
recursive-include src/jflow/db/trade/media *
recursive-include src/jflow/db/trade/templates *
recursive-include src/jflow/db/trade/fixtures *
recursive-include src/jflow/jfsite/media *
recursive-include src/jflow/jfsite/templates *
include docs/make.bat
include docs/Makefile
include docs/source/conf.py
recursive-include docs *.rst