{% extends "jflow/stomp.html" %}{% load orbited %}
{% block extra-stomp-style %}
	.bar {
        background-color: #38f;
        height: 12px;
        width: 200px;
        margin: 3px 0px;
    	}
{% endblock %}
{% block extra-head %}{{ block.super }}
<script>
    var bars = [];
    var num_bars = 10;

    // Make ten bars that are blue
    var init_graph = function(num_bars, bars, elem) {
        for (var i=0; i< num_bars; i++) {
            elem.append($(document.createElement('div')).addClass('bar').css({'width':'100px'}));
        }
    };

    // Change the length of the bars to match given numerical data
    var modify_graph = function(bars, body) {
        var vals = JSON.parse(body);
        for (var i=0; i<bars.length; i++) {
            var bar = bars[i];
            bar.style.width = vals[i] + "px";
        }
    }

    // In production use your js toolkit's onload system, or event listeners
    function start_graph(host,port) {
        init_graph(num_bars, bars, $("#comet-graph"));
        
        var stomp = new STOMPClient();
        stomp.onopen = function() {
        };
        stomp.onclose = function(c) { alert('Lost Connection, Code: ' + c);};
        stomp.onerror = function(error) {
            alert("Error: " + error);
        };
        stomp.onerrorframe = function(frame) {
            alert("Error: " + frame.body);
        };
        stomp.onconnectedframe = function() {
            stomp.subscribe("/topic/graph");
        };
        stomp.onmessageframe = function(frame) {
            modify_graph(bars, frame.body);
        };
        stomp.connect(host,port);
    }
</script>
{% endblock %}

{% block content-main-post-title %}
<div id="comet-graph"></div>
{% endblock %}

{% block body-extra-scripts %}
start_graph("{% stomp_host %}",{% stomp_port %});{% endblock %}}