body {
	background: #141414 url(body_bg.jpg) no-repeat scroll 0 95px !important;
	color: #ffffff;
}
#hd {
	background: transparent url(header_bg.jpg) repeat-x scroll 0 0;
	height: 95px;
	width: 100%;
	top: 0;
}
p.rubric {
	color: #FFC30F;
}
a {
 	/*color: #CFEFFA;*/
 	color: #668CFF;
}
a:hover {
	color: #FFC30F;
	/*color: #ffffff;*/
}
a.headerlink {
	color: transparent;
}
a.headerlink:hover {
	color: #BCBCBC;
}
pre {
    background: #C2C2C2;
    color: #000000;
}
.admonition, .admonition-note, .caution {
    background:transparent url(img/note.png) no-repeat scroll 0.8em 0.8em;
    padding-left:65px;
}
.note, .admonition, .caution {
    border:1px solid #FFC30F;
}