{% extends "jflow/timeseries2.html" %}{% load servertags %}
{% block extra-head %}
<style>
.flow-module {
	clear:both;
	overflow: hidden;
	padding-top: 5px;
	margin-bottom: 10px;
	border: 2px solid #C8C8C8;
}
</style>
{% endblock %}

{% block content-main-post-title %}
<div class="yui-ge">
<div class="yui-u first">
{{ block.super }}
<div id="server-info">
{{ cl|server_info:"blb" }}
</div>
</div>
<div class="yui-u">
{{ cl.content_main }}
</div>
</div>{% endblock %}

{% block graph-height %}500px{% endblock %}
{% block graph-canedit %}false{% endblock %}
{% block graph-commandline %}{symbol: "{{ cl.object.code }}"}{% endblock %}