#branding-banner {
    width: 100%;
    height: 50px;
}
#site-content {
	overflow: hidden;
	padding-bottom: 20px;
}
#page-body {
	min-height: 700px;
}
#page-footer {
    min-height: 200px;
}
#bread-crumbs {
    text-align:center;
    padding: 10px 0;
}