{% extends "djpcms/base.html" %}{% load djpcmstags flowgallery %}

{% block pre-banner %}
<div class="nav-container">
 <div class="{{ grid.container_class }}">
  <div class="{{ grid.column1 }}">
	{% include "djpcms/bits/usernav.html" %}
  </div>
  {{ grid.clear }}
 </div>
</div>{% endblock %}

{% block branding-banner %}
 <div class="{{ grid.container_class }} main-body">
   <div class="{{ grid.column_1 }}">
    <h1>
		<a href="/">jFlow</a>
    </h1>
   </div>
   {{ grid.clear }}
 </div>
{% endblock %}

{% block post-banner %}
<div class="{{ grid.container_class }} nav-container">
<div class="{{ grid.column1 }}">
{{ sitenav.render }}
</div>
{{ grid.clear }}
</div>{% endblock %}


{% block page-footer %}
{% include "footer.html" %}{% endblock %}

