{% extends "djpcms/root.html" %}
{% block sitetitle %}jFlow{% endblock %}
{% block site-keywords %}quantitative, finance, economics, trading, data, database, statistics, python, django{% endblock %}
{% block site-description %}Quantitative finance using opensource technologies{% endblock %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}djpcms/djpcms.css"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}djpcms/themes/smooth.css"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}djpcms/uni-form.css"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}djpcms/nav.css"/>
<link rel="stylesheet" type="text/css" media = "screen" href="{{ MEDIA_URL }}djpcms/colorpicker/css/colorpicker.css"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}site/layout.css"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}site/text.css"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}site/color.css"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}djpcms/jquery-ui-css/smoothness/jquery-ui-1.7.2.custom.css"/>{% endblock %}

{% block extra-scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}djpcms/colorpicker/js/colorpicker.js"></script>{% endblock %}

{% block decorator-scripts %}{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}site/djpcms.js"></script>{% endblock %}