{% extends "base.html" %}{% load mastertags %}
{% block extra-head %}{{ block.super }}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load("visualization", "1", {packages:["columnchart"]});
</script>
<style type="text/css">
div .yui-u {overflow:auto;}
#portfolio-holder {min-height:400px; min-width: 300px;
border: 1px solid rgb(180,180,180); font-size:11px;}
#content-main h1 {text-align:left;}
.portfolio-extras {min-height:400px;}
.portfolio-extras table * {
	vertical-align: middle;
	border: 1px solid rgb(80,80,80);
}
.portfolio-extras table thead * {
	font-weight: bold;
	background-color:#C2C2C2;
	text-align: center;
	padding:3px 3px;
}
.portfolio-extras table tbody tr td span {border: none; font-size:10px;}
.portfolio-extras table tbody tr th {
	font-weight: bold;
	padding:5px 5px;
}
.portfolio-extras table tbody tr td {
	padding: 1px 5px;
	background-color: #E5F3FF;
}
.portfolio-extras .first {font-weight: bold;}
.portfolio-currency-row {font-size: 105%;}
</style>
{% endblock %}
{% block content-main-post-title %}
<div class="portfolio-page-topbar">
{{ cl.content_main }}
</div>
<div class="yui-g">
  <div class="yui-u first">
	<div id="portfolio-holder" class="portfolio-holder ui-corner-all"></div>
  </div>
  <div class="yui-u">
  <div id="tabs">
	<ul>
		<li><a id="currency-view-link" href="#Allocation-view">Currencies</a></li>
		<li><a id="history-view-link" href="#Historical-view">Time Series</a></li>
		{% if cl.editview %}
		<li><a href="#edit-view">Sub-portfolios</a></li>{% endif %}
	</ul>
	<div id="Allocation-view">
	 <div id="currency-allocation" class="portfolio-extras"></div>
	</div>
	<div id="Historical-view">
	 <div id="portfolio-history" class="portfolio-extras">
	 </div>
	</div>
	{% if cl.editview %}
	<div id="edit-view">
	  <div class="portfolio-extras">
		<p>Here you can update/change the portfolio view by adding or deleting sub-portfolios.</p>
		{{ cl.editview.content_main }}
	  </div>
	</div>
	{% endif %}
</div>
  
  </div>
</div>
</div>{% endblock %}

{% block body-extra-scripts %}
var options = {
				'colors': ["#205497","#2D8633","#B84000","#d18b2c"],
				'grid': { 'hoverable': true,
                          'clickable': true,
                          'color': '#00264D',
        				  'tickColor': '#A3A3A3' },
				'selection': {'mode': 'xy',
							  'color': '#3399FF'},
				'lines': {'show': true},
				'xaxis': {'mode': 'time'},
			  };
var tsview = $("#portfolio-history").tsPlot({media_url: "{% media_url %}js/tsplot/",
						   load_url:  "{{ cl.tsloadurl }}",
						   stylefun:     ts_sleekmain,
						   height:	     '350px',
						   caneditchart: false,
						   flot_options: options,
						   commandline:  {show: false, periodlabel: '',},});
						   
$.prospero.decorate_portfolio_site('#portfolio-holder', {{ cl.options }}, tsview);{% endblock %}
