{% extends "home.html" %}
{% block extra-head %}{{ block.super }}
<style type="text/css">
#team-navigation {float: left; width:15%; min-width:200px; text-align:left; line-height:18px;}
#factory-options ul li a {color: rgb(0,46,184);}
#factory-options ul li a:hover{color: rgb(0,138,184);}
</style>
{% endblock %}
{% block content-main-post-title %}
<div id="portfolio-page-container">
<div id="team-navigation">
<ul>{% for p in cl.team_navigation %}
<li><a href="{{ p.url }}">{{ p.urldisplay }}</a></li>{% endfor %}
</ul>
</div>
<div id="portfolio-body">
{{ cl.content_main }}
</div>
</div>{% endblock %}