<div class="jflow-dataid{% block extraclass %} list{% endblock %}">
  <div class="hd">{% block title-wrap %}
    <h3>{% if viewurl %}
      <a href="{{ viewurl }}">{{ item }}</a>{% else %}
      {{ item }}{% endif %}{% if item.content_type %}
      &mdash; {{ item.content_type }}{% endif %}{% if editurl %}
      &mdash; <a href="{{ editurl }}">edit</a>{% endif %}
    </h3>{% endblock %}
  </div>
  <div class="bd">
  {{ item.description|truncatewords:30 }}
  </div>{% if tagurls %}
  <div class="tags">{% for tag in tagurls %}
    <a href="{{ tag.url }}" title="tag {{ tag.name }}">{{ tag.name }}</a>{% endfor %}
  </div>{% endif %}
</div>